@import play.api.libs.json.Json
@import org.joda.time._
@import org.joda.time.format._
@import org.joda.time.convert._
@(style: String = "scala", nutrient: play.api.data.Form[models.domain.NutrientsPlotInfo],allPlots: Seq[models.domain.beo.PlotExtended], allPers: Seq[models.domain.beo.Person], alltrees: Seq[models.domain.beo.TreeData])(implicit messages: Messages)

@defining(play.core.PlayVersion.current) { version =>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" media="screen" href="//handsontable.com/dist/handsontable.full.css">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")" type="text/css">
<script src="//handsontable.com/dist/handsontable.full.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<div id="content" class="wrapper">

<article>
        <h1>Welcome to LWF BGC Form</h1>
    <p><a href="@routes.HomeController.logout()" style="float:right;" id="logoutLink">Log out!</a></p>
    </br>
    </br>
    <p>
            Migrating the Oracle forms to web interface forms....
        </p>
        <blockquote>
        <p>
            BGC Form
        </p>
        </blockquote>
    <br class="container" id ="nutrient_form">

        @helper.repeat(nutrient("nutrients"), min = 1) { stayField =>
        <div id="groupNutrientField">
            @helper.select(field = nutrient("stayField.clnr"),  options=allPlots.map(pl => pl.plot.clnr.toString -> pl.plot.clusterName), '_label ->"LWF- Fläch",  'id -> "lwfPlot")
            @helper.inputDate(nutrient("stayField.probdat"), '_label ->"Probedatum",  'id -> "probedatum")
            @helper.select(nutrient("stayField.probdat"), options=allPlots.flatMap(_.bgcPlot).map(pl => pl.probdat.toDate().format("dd/MM/yyyy") -> pl.probdat.toDate().format("dd/MM/yyyy")), '_default -> "Choose One", '_label ->"Search for Date",  'id -> "searchDate")
            @helper.inputText(nutrient("stayField.witterung"), '_label -> "Witterung", 'id -> "witterung")
            @helper.select(field = nutrient("stayField.besteiger_nr"),  options=allPers.map(pl => pl.persnr.toString -> (pl.name + "," + pl.vorname)),  '_default -> "Choose One", '_label ->"Besteiger Nr 1",  'id -> "besteiger1")
            @helper.select(field = nutrient("stayField.protokoll_nr"),  options=allPers.map(pl => pl.persnr.toString -> (pl.name + "," + pl.vorname)),  '_default -> "Choose One", '_label ->"Protokoll Nr 1",  'id -> "protokoll1")
            @helper.select(field = nutrient("stayField.besteiger_nr2"),  options=allPers.map(pl => pl.persnr.toString -> (pl.name + "," + pl.vorname)),  '_default -> "Choose One", '_label ->"Besteiger Nr 2",  'id -> "besteiger2")
            @helper.select(field = nutrient("stayField.protokoll_nr2"),  options=allPers.map(pl => pl.persnr.toString -> (pl.name + "," + pl.vorname)),  '_default -> "Choose One", '_label ->"Protokoll Nr 2",  'id -> "protokol2")
            @helper.textarea(nutrient("stayField.bemerkung"), args = 'rows -> 3, 'cols -> 50, '_label -> "Bemerkung",  'id -> "bemerkung")
        </div>

            <div id="treeNutrientField" class="container">
                <pre id="example1console" class="console"></pre>
                <div id="treeNutrients"></div>
                <label>Trees Data</label>
                <div id="hotTrees" class="hot handsontable htRowHeaders htColumnHeaders"></div>
            </div>

    </br>
    </br>

    </br>

    <button name="save" id="save" class="btn btn-success btn-lg">Save</button>
    <button name="update" id="update" class="btn btn-success btn-lg">Update</button>
    <!--<button name="print" id="print" class="btn btn-success btn-lg" onclick="printFunction()">Print</button>-->


    }

       <!--@helper.form(routes.HomeController.nutrients){
        //@helper.inputText(nutrient("name"))-->
        }

     <p>


</article>

 <aside>
   <h3>Browse</h3>
   <ul>
     <li><a href="https://www.wsl.ch/de/wald/waldentwicklung-und-monitoring/langfristige-waldoekosystemforschung-lwf.html">LWF Home Page</a></li>
       <li><a href="https://www.wsl.ch/de/projekte/naehrstoffkreislaeufe-und-bodenvegetation.html">Nährstoffflüsse, Nährstoffversorgung und Bodenvegetation auf den LWF-Flächen</a></li>
       <li><a href="https://www.wsl.ch/de/ueber-die-wsl/programme-und-initiativen/langfristige-waldoekosystemforschung-lwf/daten.html#tabelement1-tab4">Blattspiegelwerte</a></li>
       <li><a href="https://www.wsl.ch/de/ueber-die-wsl/programme-und-initiativen/langfristige-waldoekosystemforschung-lwf/daten.html#tabelement1-tab5">Atmosphärische Deposition</a></li>
   </ul>
   </aside>
</div>

}

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.14.2/math.min.js"></script>
<script src="@routes.Assets.versioned("javascripts/bgcData.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/bgcDS.js")" type="text/javascript"></script>
