
@(form: Form[(String,String)])(implicit flash: Flash)

<html>
<head>
  <title>LWF Forms</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")" type="text/css">

</head>
<body>

@form.globalError.map { error =>
<p class="error">
    Error: @error.message
</p>
}

@flash.get("success").map { message =>
<p class="success">
    @message
</p>
}

@flash.get("error").map { message =>
<p class="error">
    Error: @message
</p>
}


<div id="content" class="wrapper">

    <article>

        <h1>Welcome to LWF BGC Form</h1>
        <p>
            Migrating the Oracle forms to web interface forms....
        </p>
        <blockquote>
            <p>
                BGC Form
            </p>
        </blockquote>

@helper.form(routes.HomeController.authenticate) {

<h1>Sign in</h1>
<p>
  <input type="uid" name="uid" placeholder="uid" id="uid" value="@form("uid").value">
</p>
<p>
  <input type="password" name="password" id="password" placeholder="Password">
</p>
<p>
  <button type="submit" id="loginbutton">Login</button>
</p>
}
        <p>
</article>

    <aside>
        <h3>Browse</h3>
        <ul>
            <li><a href="http://www.wsl.ch/info/organisation/fpo/lwf/index_EN">LWF Home Page</a></li>
        </ul>
    </aside>
</div>

</body>
</html>